@import 'fonts.css';

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  color: #fff;
  font-size: 70px;
  font-weight: lighter;
}

h3 {
  width: 100%;
  margin-top: 0;
  font-size: 40px;
  text-align: center;
}

h3::first-letter {
  color: #dca456;
}

.aw-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.aw-align-center {
  align-items: center;
}

/* Header */

header {
  position: relative;
}

header nav {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

header nav ul.aw-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul.aw-navigation li a {
  display: block;
  padding: 0 16px;
  color: white;
  font-size: 20px;
}

header nav ul.aw-navigation li:last-child a {
  padding-right: 0;
}

header nav ul.aw-navigation li a::after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header nav ul.aw-navigation li a:hover::after {
  width: 100%;
  opacity: 1;
}

.aw-header-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.aw-main-banner {
  display: block;
  width: 100%;
}

.aw-header-text .aw-arrow {
  display: inline-block;
  padding: 25px;
  border: solid 3px #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: opcaity 0.3s ease;
  transition: opacity 0.5s ease;
}

.aw-header-text .aw-arrow:hover {
  opacity: 0.4;
}

/* Logo */

.aw-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 26px;
  text-decoration: none;
  border: solid 3px #fff;
  border-radius: 100%;
}

/* Sections */
.aw-section {
  padding: 85px 0;
}

/* About */
#aw-about .aw-column {
  width: 45%;
  margin-top: 25px;
  text-align: center;
}

#aw-about i {
  font-size: 45px;
  color: #dca456;
}

/* Animations */
.aw-animation {
  -webkit-animation: animation 3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
