@import 'fonts.css';

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  color: #fff;
  font-size: 70px;
  font-weight: lighter;
}

h3 {
  width: 100%;
  margin-top: 0;
  font-size: 40px;
  text-align: center;
}

h3::first-letter {
  color: #dca456;
}

.aw-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.aw-align-center {
  align-items: center;
}

/* Header */

header {
  position: relative;
}

header nav {
  position: fixed;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header nav.aw-nav-fixed {
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
}

header nav ul.aw-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul.aw-navigation li a {
  display: block;
  padding: 0 16px;
  color: white;
  font-size: 20px;
}

header nav ul.aw-navigation li:last-child a {
  padding-right: 0;
}

header nav ul.aw-navigation li a::after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header nav ul.aw-navigation li a:hover::after {
  width: 100%;
  opacity: 1;
}

.aw-header-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.aw-main-banner {
  display: block;
  width: 100%;
}

.aw-header-text .aw-arrow {
  display: inline-block;
  padding: 25px;
  border: solid 3px #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: opcaity 0.3s ease;
  transition: opacity 0.5s ease;
}

.aw-header-text .aw-arrow:hover {
  opacity: 0.4;
}

/* Logo */

.aw-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 26px;
  text-decoration: none;
  border: solid 3px #fff;
  border-radius: 100%;
}

/* Sections */
.aw-section {
  padding: 85px 0;
}

/* Gallery */
#aw-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#aw-gallery li {
  width: 20%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#aw-gallery li img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#aw-gallery li:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

#aw-gallery li::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#aw-gallery li:hover:after {
  width: 0;
  height: 0;
}

/* About */
#aw-about .aw-column {
  width: 45%;
  margin-top: 25px;
  text-align: center;
}

#aw-about i {
  font-size: 45px;
  color: #dca456;
}

/* Testimonials */
#aw-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aw-testimonials {
  position: relative;
  max-width: 500px;
}

.aw-testimonials ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.aw-testimonials ul li {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aw-testimonials ul li .aw-user-data img {
  border-radius: 100%;
}

.aw-testimonials ul li .aw-user-data .aw-user-name {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.aw-testimonials ul li > p {
  font-style: italic;
  font-size: 20px;
  color: gray;
  text-align: center;
}

.aw-testimonials .aw-arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  padding: 25px;
  border: solid #eee;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}

.aw-testimonials .aw-arrow:hover {
  border-color: #dca456;
}

.aw-testimonials .aw-arrow.aw-arrow-left {
  right: 120%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.aw-testimonials .aw-arrow.aw-arrow-right {
  left: 120%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* contact */
#aw-contact {
  background: #f8f8f8;
}

#aw-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

#aw-contact form input:not([type='submit']),
#aw-contact form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #ccc;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

#aw-contact form textarea {
  height: 100px;
  resize: none;
}

#aw-contact form *::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#aw-contact form *::-moz-placeholder {
  color: #ccc;
  font-style: italic;
}

#aw-contact form *:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#aw-contact form *:-moz-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#aw-contact input[type='submit'] {
  border: none;
  margin-top: 15px;
  padding: 10px 30px;
  color: #fff;
  background-color: #dca355;
  box-shadow: inset 0 -3px 0 0 #c79652;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#aw-contact input[type='submit']:hover {
  color: #f5f5f5;
  box-shadow: inset 0 -3px 0 0 #a27c47;
}

/* Footer */
footer {
  padding: 10px 0;
  background-color: #444;
}

footer .aw-logo {
  width: 45px;
  height: 45px;
  font-size: 20px;
}

footer .aw-social-icons {
  display: flex;
  list-style-type: none;
}

footer .aw-social-icons li {
  margin-left: 15px;
}

footer .aw-social-icons li a {
  display: flex;
  color: #fff;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

footer .aw-social-icons li a:hover {
  opacity: 0.5;
}

/* Animations */
.aw-animation {
  -webkit-animation: animation 3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
