body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.aw-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.aw-align-center {
  align-items: center;
}

/* Header */

header nav {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

header nav ul.aw-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul.aw-navigation li a {
  display: block;
  padding: 0 16px;
  color: white;
  font-size: 20px;
}

.aw-main-banner {
  display: block;
  width: 100%;
}

/* Logo */

.aw-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 26px;
  text-decoration: none;
  border: solid 3px #fff;
  border-radius: 100%;
}
